blinker==1.9.0
charset-normalizer==3.4.3
click==8.1.8
defusedxml==0.7.1
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
fonttools==4.59.2
fpdf2==2.8.4
greenlet==3.2.4
gunicorn==23.0.0
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
pillow==10.4.0
python-dotenv==1.1.1
reportlab==4.4.3
SQLAlchemy==2.0.43
typing_extensions==4.15.0
Werkzeug==3.0.3
zipp==3.23.0
